<div class="home-content">
  <h1 class="text-center">Hi! I'm João, a junior progammer.</h1>
  <%= image_tag "intro-img.png", class: "intro-img" %>
  <div class="container">
    <div class="home-about text-center" id="about">
      <h2>About</h2>
      <p>I'm a recent graduate from Le Wagon FullStack bootcamp. Previous to getting into web development I was focused on the marketing and design side of tech companies, helping customers succeed in the app market at GoodBarber and building a video production community at Videoflot.</p>
    </div>
    <div class="home-projects" id="projects">
      <h2 class="text-center">Projects</h2>
      <%= render 'shared/project-card' %>
    </div>
    <div class="home-posts" id="blog">
      <h2 class="text-center">Blog</h2>
      <%= render 'shared/post-listing' %>
    </div>
    <div class="contact text-center" id="contact">
      <h2>Contact</h2>
      <p>You can drop me a line <%= mail_to "joaomarcelofm@gmail.com", "here" %> or poke me on the internet:</p>
      <%= render 'shared/social-links' %>
    </div>
  </div>
</div>
