<div class="container">
  <div class="project-display">
    <div class="row">
      <div class="col-md-offset-1 col-md-4">
        <%= image_tag @project.main_image, style: "width: 100%" %>
      </div>
      <div class="col-md-6">
        <div class="project-header">
          <h1><%= @project.name %></h1>
        </div>
        <div class="project-content">
          <h2><%= @project.client %></h2>
          <div class="project-desc"><%=raw @project.full_description %></div>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render 'shared/social-links' %>
